.slider{
     padding-top: 112px;
     &__inner{
          position: relative;
     }
     &__titel{
          text-transform: uppercase;
          color:#fff;
          letter-spacing: 0.12em;
          margin-top: 70px;
          margin-bottom: 50px;
          @include font(700,27px, 32px,$font-family);
     }
     &__btn{
          background-color: $elem-color;
          @include font(700,18px, 21px,$font-family);
          padding: 19px 50px;
          border:2px solid $elem-color ;
          outline: none;
          margin-bottom: 69px;
          cursor: pointer;
          transition: color .3s, background-color .3s ;
     }
     &__btn:hover{
          background-color: transparent;
          color:#fff;
     }
     &__control {
          display: flex;
          align-items: start;
          justify-content: flex-end;
     }
     &__btn--next,
     &__btn--prev{
          width: 30px;
          height: 30px;
          border:none;
          outline: none;
          cursor: pointer;
     }
     &__btn--prev {
          background:transparent url(../../img/prev.png)no-repeat center center;
          margin-right: 21px;
     }
     &__pagination {
          margin-right: 21px;
          @include font(400,18px, 21px,$font-family);
          color:#fff;
     }
     &__btn--next {
          background:transparent url(../../img/next.png)no-repeat center center;
     }
     &__wrapper{
          width: 50%;
          max-height: 506px;
          position: absolute;
          bottom: -84px;
          right: 0;
     }
     &__container{
          max-width: 972px;  
          overflow: hidden;        
     }
     &__track{
          display: flex;
          transition: transform 1s;
     }
     &__item{
          flex-shrink: 0;
     }
     &__img{
          width: 100%;
          max-width:972px;
          max-height: 506px;
     }   
}
@media(max-width:768px){
     .slider{
          height: 100vh;
          padding-top: 0px;
          &__inner{
               height: 100%;
          }
          &__info{
               position: absolute;
               bottom: 0;
               right: 0;
               left: 0;
               z-index: 4;
               transition:transform .5s ;
          }
          &__info--none{
               transform: translateX(-100%);
          }
          &__titel{
               letter-spacing: 0.12em;
               margin-top: 0;
               margin-bottom: 40px;
               @include font(700,18px, 21px,$font-family);
               z-index: 4;
          }
          &__btn{
               @include font(700,14px, 16px,$font-family);
               letter-spacing: 0.13em;
               padding: 20px 40px;
               margin-bottom: 47px;
               z-index: 4;
          }
          &__track{
               height: 100vh;
          }
          &__wrapper{
               position: relative;
               width: 100%;
               bottom: 0;
               max-height: none;
          }
          &__control{
               margin-bottom: 22px;
          }
          &__img{
               max-height: none;
               height: 100vh;
     } 
}
}

