* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

img {
    display: block;
}

body {
    font-family: $font-family;
    color: #000;
}
.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
.title__text{
    @include font(700,30px, 35px,$font-family);
    text-align: center;
}
@media(max-width:768px){
    .title__text{
        @include font(700,20px, 23px,$font-family);
    }
    
}

